<template name="nav">
<div id="nav" class="nav">
  <div class="nav-wrap">
    <button class="nav-button">
      <img src="/assets/navigation/nav-burst.png"/>
    </button>
    <button class="nav-button">
      <img src="/assets/navigation/nav-blue.png"/>
    </button>
    <button class="nav-button">
      <img src="/assets/navigation/nav-gold.png"/>
    </button>
    <button class="nav-button">
      <img src="/assets/navigation/nav-green.png"/>
    </button>
    <button class="nav-button">
      <img src="/assets/navigation/nav-pink.png"/>
    </button>
  </div>
</div>
</template>
