/* CSS declarations go here */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#background {
  background: #444;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100% 100% !important;
}
.stamp {
  position: absolute;
  width: 40px;
  height: 40px;
  /*background: green;*/
  /*background-image: url("/assets/stars/gold-burst-star.png");*/


  animation: animationFrames linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;


}

@keyframes animationFrames{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  rotate(50deg) scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  rotate(50deg) scaleX(1.10) scaleY(1.10) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}
