.nav {
  z-index: 9999999999999;
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  text-align: center;
  .nav-wrap {
    background: rgba(220,220,220,0.15);
    border: 2px solid rgba(220,220,220,0.4);
    border-top:none;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    display:inline-block;
    margin:0 auto;
    padding:0 20px 4px;
  }
  button {
    margin: 0;
    padding: 0;
    border: 0;
    height: 60px;
    background:none;
    transition:all 0.1s ease;
    &.selected{
      background: -moz-radial-gradient(top, ellipse cover,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 80%); /* FF3.6+ */
      background: -webkit-gradient(radial, top center, 0px, top center, 80%, color-stop(0%,rgba(255,255,255,0.4)), color-stop(80%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(top, ellipse cover,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 80%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(top, ellipse cover,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 80%); /* Opera 12+ */
      background: -ms-radial-gradient(top, ellipse cover,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 80%); /* IE10+ */
      background: radial-gradient(ellipse at top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 80%); /* W3C */
    }
    &:active {
      opacity:0.5;
      transform:scale(1.2);
    }
    img {
      height: 60px;
    }
  }
}
