.nav {
  z-index: 9999999999999;
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  text-align: center;
  .nav-wrap {
    background: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.22);
    border-top:none;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    display:inline-block;
    margin:0 auto;
    padding:4px 20px;
  }
  button {
    margin: 0;
    padding: 0;
    border: 0;
    height: 60px;
    background:none;
    img {
      height: 60px;
    }
  }
}
